workflows/Get Subscriptions with metro error copy.json
{
  "id": 27,
  "name": "Get Subscriptions with metro error copy",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n\tIFNULL(cs.custom_product_name,product_catalogue_name) as name,\n\tca.accessid,\n\t cs.contract_status,\n\t status,\n\tcustomer_contract_subscriptionid as subscriptionid,\n\t c.customerid,\n\t cc.crmid,\n\t c2.company_name,\n\t c.active\nFROM customer_contract_subscription as cs\n\tLEFT JOIN customer_contract as cc ON cs.customer_contractid = cc.customer_contractid\n\tLEFT JOIN pricelist_unit as pu ON cs.pricelist_unitid = pu.pricelist_unitid\n\tLEFT JOIN customer_contract_status as ccs ON cs.contract_status = ccs.customer_contract_statusid\n\tLEFT JOIN customer as c ON cc.crmid = c.crmid\n\tLEFT JOIN product_catalogue as pc ON cs.product_catalogueid = pc.product_catalogueid\n\tLEFT JOIN customer_address AS ca ON cs.customer_addressid = ca.customer_addressid\n\tLEFT JOIN company c2 on c2.companyid = c.companyid \nWHERE \nc.customerid in (\n500769975,\n500769925,\n500769705,\n500769957,\n500769651,\n500769832,\n500769132,\n500769769,\n500769704,\n500116715,\n500770006,\n500769719,\n500110275,\n500769001,\n500769828,\n500769033,\n500117793,\n500769869,\n500769945,\n500769589,\n500769903,\n500118094,\n106223,\n500769794,\n500769965,\n500769582,\n102298\n)\nand cs.contract_status in (1, 6)\nGROUP BY c.customerid\nHAVING COUNT(c.customerid) = 1\n;"
      },
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -310,
        840
      ],
      "credentials": {
        "mySql": {
          "id": null,
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -30,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        910,
        1060
      ]
    },
    {
      "parameters": {},
      "name": "NoOp2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1180,
        1040
      ]
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(500);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 3 secs",
      "type": "n8n-nodes-base.function",
      "position": [
        750,
        1070
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "name": "Merge6",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        420,
        500
      ]
    },
    {
      "parameters": {
        "command": "=C:\\Users\\ies325\\Documents\\bin\\tctl.exe --address 10.201.4.24:7233 workflow showid {{$json[\"searchWorkflowId\"]}}"
      },
      "name": "tctlSearch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        280,
        650
      ],
      "alwaysOutputData": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "item.searchWorkflowId = `subscription::${item[\"subscriptionid\"]}`;\n\nreturn item;"
      },
      "name": "FunctionItem2",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        120,
        570
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{!!$node[\"tctlSearch\"].json[\"error\"]}}",
              "value2": true
            }
          ],
          "number": []
        }
      },
      "name": "IFNoSubscriptionWF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        650
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "toFile",
        "options": {}
      },
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        1060,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fileName": "C:\\Users\\ies325\\Documents\\spreadsheet.xls"
      },
      "name": "Write excel error log",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        1240,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "name": "Prepare tctl request",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        -410,
        510
      ]
    },
    {
      "parameters": {},
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        950,
        430
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filePath": "C:\\Users\\ies325\\Documents\\spreadsheet.xls"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        680,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Spreadsheet File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        830,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "=C:\\Users\\ies325\\Documents\\bin\\tctl.exe --address 10.201.4.24:7233 workflow showid {{$json[\"searchWorkflowId\"]}} --output_filename temp-{{$json[\"subscriptionid\"]}}.json"
      },
      "name": "tctlSearch1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        1340
      ],
      "alwaysOutputData": false,
      "continueOnFail": true
    },
    {
      "parameters": {},
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        -380,
        1090
      ]
    },
    {
      "parameters": {
        "filePath": "=C:\\Users\\ies325\\Documents\\n8n\\packages\\cli\\bin\\temp-{{$json[\"subscriptionid\"]}}.json"
      },
      "name": "Read Binary File1",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        230,
        1340
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        440,
        1550
      ]
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "name": "Merge7",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        130,
        1190
      ]
    },
    {
      "parameters": {
        "command": "=C:\\Users\\ies325\\Documents\\bin\\tctl.exe --address 10.201.4.24:7233 workflow showid {{$json[\"childWorflowId\"]}} --output_filename temp-{{$json[\"childWorflowId\"]}}.json"
      },
      "name": "tctlSearch2",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        880,
        1480
      ],
      "alwaysOutputData": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "filePath": "=C:\\Users\\ies325\\Documents\\n8n\\packages\\cli\\bin\\temp-{{$json[\"childWorflowId\"]}}.json"
      },
      "name": "Read Binary File2",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1170,
        1480
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1370,
        1610
      ]
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "name": "Merge8",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1010,
        1330
      ]
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\nfor (var item of items) {\n  const {events, ...rest} = item.json;\n  if(events && events.length > 0) {\n    for (var event of events) {\n      if(event.eventType === \"StartChildWorkflowExecutionInitiated\" && event.startChildWorkflowExecutionInitiatedEventAttributes) {\n        newItems.push({json: { ...rest, childWorflowId: event.startChildWorkflowExecutionInitiatedEventAttributes.workflowId}});\n      }\n    }\n  }\n}\nreturn newItems;\n"
      },
      "name": "GetChildWorkflow",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        710,
        1340
      ]
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\nfor (var item of items) {\n  const {events, ...rest} = item.json;\n  if (events && events.length > 0) {\n    for (var event of events) {\n      if (\n        event.eventType === \"ActivityTaskScheduled\" &&\n        event[\"activityTaskScheduledEventAttributes\"] &&\n        event[\"activityTaskScheduledEventAttributes\"][\"input\"] &&\n        event[\"activityTaskScheduledEventAttributes\"][\"activityType\"] &&\n        event[\"activityTaskScheduledEventAttributes\"][\"activityType\"][\"name\"] === \"Log\"\n      ) {\n        const payloads = event[\"activityTaskScheduledEventAttributes\"][\"input\"][\"payloads\"] || [];\n        if(payloads.length > 1)\n        {\n          const encodedData = payloads[1]?.data;\n          let buff = new Buffer(encodedData, 'base64');\n          let decodedStr = buff.toString('UTF-8');          \n          const apiPayload = JSON.parse(decodedStr);\n          if(\n            apiPayload.topic === \"no existing metro orders found\" &&\n            apiPayload.message.startsWith(\"could not find any metro orders on the access address:\")          \n          ) {\n            console.log(apiPayload);\n            newItems.push({ json: { ...rest } });\n          }          \n        }\n        //newItems.push({ json: { activityTaskScheduledEventAttributes: event.activityTaskScheduledEventAttributes } });\n      }\n    }\n  }\n}\nreturn newItems;\n"
      },
      "name": "GetMetroErrorItems",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1630,
        1470
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{!Object.keys($node[\"GetMetroErrorItems\"].json).length}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IFEmptyMetroError",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        1470
      ]
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "name": "Merge9",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1960,
        1850
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "options": {}
      },
      "name": "Spreadsheet File2",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        2640,
        1400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fileName": "C:\\Users\\ies325\\Documents\\metro-errorsheet.xls"
      },
      "name": "Write excel error log1",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        2820,
        1400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        2540,
        1850
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filePath": "C:\\Users\\ies325\\Documents\\metro-errorsheet.xls"
      },
      "name": "Read Binary File3",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2270,
        1660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Spreadsheet File3",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        2420,
        1660
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "return [];"
      },
      "name": "Dummy Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1700,
        1850
      ]
    },
    {
      "parameters": {
        "mode": "multiplex"
      },
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        530,
        1340
      ]
    },
    {
      "parameters": {
        "mode": "multiplex"
      },
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1460,
        1440
      ]
    },
    {
      "parameters": {
        "functionCode": "function sleep(milliseconds) {\n  return new Promise(\n    resolve => setTimeout(resolve, milliseconds)\n  );\n}\n\nawait sleep(3000);\n\n// Output data\nreturn items;"
      },
      "name": "Sleep 3 secs1",
      "type": "n8n-nodes-base.function",
      "position": [
        2190,
        1190
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "MySQL": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "FunctionItem2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "NoOp2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 3 secs": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "IFNoSubscriptionWF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tctlSearch": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FunctionItem2": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          },
          {
            "node": "tctlSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IFNoSubscriptionWF": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "tctlSearch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Write excel error log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write excel error log": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Spreadsheet File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tctlSearch1": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Binary File1": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Read Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tctlSearch2": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Binary File2": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Read Binary File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetChildWorkflow": {
      "main": [
        [
          {
            "node": "tctlSearch2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMetroErrorItems": {
      "main": [
        [
          {
            "node": "IFEmptyMetroError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IFEmptyMetroError": {
      "main": [
        [
          {
            "node": "Sleep 3 secs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Binary File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File2": {
      "main": [
        [
          {
            "node": "Write excel error log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write excel error log1": {
      "main": [
        [
          {
            "node": "Sleep 3 secs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Spreadsheet File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File3": {
      "main": [
        [
          {
            "node": "Spreadsheet File3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Spreadsheet File3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "GetChildWorkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "GetMetroErrorItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep 3 secs1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-27T11:19:20.529Z",
  "updatedAt": "2022-04-27T11:19:20.529Z",
  "settings": {},
  "staticData": null
}